/*
Name: Millard Cil
Date: 2.13.2026
CSC 372-01

This is the css page for my food blog.
*/

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    background-color: navy;
    color: rgba(255, 208, 0, 0.868);
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 30px;

}

article{
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 30px;

    line-height: 1.5;
}

article img{
    max-width: 300px;
    height: auto;
}

.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px
}

.card{
    flex: 1;
    background-color: white;
    padding: 15px;
    border: 1px solid #dddddde8;

}

.card img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

aside{
    background-color: lightyellow;
    padding: 20px;
    margin-bottom: 30px;

}

.image-credit{
    font-size: 6px;
}

footer{
        background-color: navy;
    color: rgba(255, 208, 0, 0.868);
    text-align: center;
    padding: 20px;
}

#disclaimer{
    font-size:xx-small;
}


#favorites-summary{
    background-color: lightgray;
    padding: 20px;
    
}

.dish-price{
   font-weight: bold;
   margin: 6px;
    
}

.card.favorited{
    background-color: rgb(212, 247, 147);
    border: 5px yellow;
}
